html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}
.bubble{    background: none repeat scroll 0 0 #FF0000;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 9px;
    padding: 0 5px;
    position: absolute;
    right: 3px;
    top: 4px;}

/*Global Styles*/
body,html{height:100%;;font-size:14px!important;}
body{background:url(../images/admin/navside.png) #f7f7f7 20% top repeat-y; font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#000;}
.floatLeft{float:left;}
.floatRight{float:right;}
.clear{clear:both;}
.wrapper{width:100%;min-height:100%;}
.pagemenu ul{list-style:none;}
.pagemenu ul li{display:inline-block;}
.pagemenu ul li a{text-decoration:none;}
img{max-width:100%;  width: expression(this.width > 200 ? 200: true);}
.seperator{height:1px;display:block;background:#ccc;border-bottom:1px solid #fff; margin:10px 0;}
.margintopbot10{margin:10px 0; }
.form table,.form td,.form tr, .form th, .form tbody, .form thead{border:none!important;}
.form{font-size:13px!important;}
.form input, .form .uneditable-input {
    width: 178px;
}
 .form textarea{width:350px;height:90px;}
.form select {
    width: 190px;
}

/*Header*/
.header{background:#269176; height:30px; display:block;color:#fff; padding:0 0 0 15px;}
.header h1{font-size:12px; font-weight:normal;margin:0!important;height:30px;line-height:28px;}
.header h1 a{color:#fff;}
.maintitle{font-size:20px!important;}
.title{font-size:16px!important;}
/*Login Page*/
.logo{text-align:center; padding-top:50px;}
/*Footer*/
.footer{background:#269176; height:14px; display:block;color:#fff; padding:10px 15px; text-transform:uppercase; font-size:10px; margin-top:-34px; text-align:center;}
.footer a{color:#fff !important;}

/*SideBar*/
.sidemenu{margin:0;}
.dropdown-submenu > .dropdown-menu {border-radius:0 0 0 0!important;top:4px!important;left:100%!important;border:0px solid #FFF:!important;background:url(img/hover.jpg) no-repeat!important;background:#f7f7f7!important;border-left:none!important;border-shadow:none!important;}
.dropdown-submenu > .dropdown-menu a.first{background:url(../img/hover.jpg) no-repeat!important;margin-left:0!important;}
.options{background:#f5f5f5; width:20%; height:100%; display:block;}
.options ul li{list-style:none;border-top:1px solid #fff;}
.options ul li a{color:#333333;padding:10px 15px;margin-left:2px; display:block;
-webkit-transition-property: background; -webkit-transition-duration: 500ms;
 -moz-transition-property: background; -moz-transition-duration: 500ms;  background:#f7f7f7;}
.options ul li a:hover{ text-decoration:none;background:#e7e7e7;}
.options .logo{padding:15px;border-bottom:1px solid #ccc;} 
.register{width:750px; margin:auto;}
.option_content{padding:15px; width:75%;display:block;}
.admin_wrapper{padding-bottom:34px;}

/*Content*/
.option_content tr td,.option_content tr th{ padding:5px;}
.option_content tr th{text-align:left;}
.option_content h3{font-size:14px; margin:5px 0;}
.option_content,.option_content p{line-height:15px;}
.loginsettings .tx{padding:5px 0;}
.option_content input[type="radio"]{vertical-align:middle}
.h3side{font-weight:normal;}
.dashboard ul,.dashboard ol{margin-left:20px;}

.sCol{margin-right:10px;}
.tblbtn{width:70px;}
.action{width:215px;text-align:center!important;}
.center{text-align:center;!important;}

@media screen and (max-width: 800px) {
.options ul li {font-size:10px;}
}
.leftblock{float:left;}
.rightblock{float:right;}
.rightblock .parent{list-style:none;height:30px!important;}
.rightblock li{float:left;height:34px!important;}
.rightblock a{color: #FFFFFF;
    display: block;
    font-size: 12px;
    height: 20px !important;
    padding: 5px 23px !important;
    text-decoration: none;}
.rightblock li:hover{background:#e5e5e5;}
.rightblock a:hover{color:#036;text-decoration:none;}

.menuheader{font-size:15px;font-weight: 100;}
h3.menuheader{border-top:1px solid #CCC;padding:0 0 0 20px!important;margin:0!important;}
.first{border-top:none!important}

.categoryitems{border-bottom: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    display: block;
    margin-left: 22px;
    width: 246px !important;
    margin-bottom:0;
    }


.dropdown-menu{height:auto!important;min-width:215%!important;padding:0!important;}
.dropdown-menu li{border-bottom:1px solid #e5e5e5;}
.dropdown-menu a:hover{background:#e5e5e5!important;color:#444;}
.dropdown-submenu .dropdown-menu{width:200px!important; min-width: 10%!important;background:#f7f7f7!important;border-left:none!important;border-shadow:none!important;}
.dropdown-submenu .dropdown-menu a.first{background:url(../img/hover.jpg) no-repeat!important;margin-left:0!important;}
.rightblock .caret{border-top: 4px solid #FFFFFF!important;border-bottom-color: #FFFFFF!important;
    border-top-color: #FFFFFF!important;}
.login input[type="text"]{padding:7px;width:300px;height:30px;}
.login input[type="password"]{padding:7px;width:300px;height:30px;}
.login div{margin:5px;}
#login{margin:100px auto;width:325px;text-align:center;padding:10px;background:#e5e5e5;border-radius:10px;}
#login h1{font-size:22px;}
li.parent{border-right:1px dotted #e5e5e5;}